<% if @post.comments %>
	<% @post.comments.each do |comment| %>
	<div class="individual-comment panel panel-default">	
		<div class="comment-head panel-heading">
			<span class="comment-vote-total"><%= comment.upvotes + comment.downvotes %></span><span class="comment-upvote">&#x25B2;</span> <span class="comment-downvote">&#x25BC;</span> <span class="comment-username"><%= comment.user.username %> </span>
		</div>
		<div class="comment-body panel-body">
			<%= comment.body %>
		</div>
	</div>
	<% end %>
<% end %>
</div>