/* This is the main content stylings */

#user_nav {
	padding-top: 10px;
	background-color: white;
	min-height: 400px;
	@include box-shadow;

	.btn-user-post,
	.btn-user-edit,
	.btn-user-logout,
	.btn-user-signup,
	.btn-user-login {
		width: 100%;
		display: block;
		margin: 10px 5px;
	}

	.btn-user-post {
		background-color: $lightblue;
		
		&:hover {
			background-color: darken($lightblue, 5%);
		}
	}

	.btn-user-edit {
		background-color: $blue;

		&:hover {
			background-color: darken($blue, 5%);
		}
	}

	.btn-user-logout {
		background-color: $darkblue;
	
		&:hover {
			background-color: darken($darkblue, 5%);
		}
	}

	.btn-user-signup {
		background-color: $lightblue;

		&:hover {
			background-color: darken($lightblue, 5%);
		}
	}

	.btn-user-login {
		background-color: $blue;

		&:hover {
			background-color: darken($blue, 5%);
		}
	}

	a {
		color: white;
	}

	.user-post-points,
	.user-comment-points {
		color: $blackish;
	}

}