<div id="site-header" class="navbar navbar-default row">
	<div class="container-fluid">
		<%= link_to 'Home', root_url, class: "navbar-brand" %>
		<div class="container">
			<% if can? :index, :users %> 
				<%= link_to 'Users', users_path, class: "navbar-brand" %> 
			<% end %>
		</div>
		<% @categories.each do |category| %>
			<%= link_to category_path(category) do %> 
				<span class="category"><%= category.title %> </span>
			<% end %> 
		<% end %>
	</div>
</div>


